.container-selects {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container-select span {
    margin-bottom: 5px;
}